.cartbox {
    position: absolute;
    background: yellow;
    width: 250px;
    height: fit-content;
    right: 0px;

}

.cartImage{
    width: 40px;
    height: 40px;
}

button{
    margin-bottom: 8px;
}
