.product-filter {
    display: flex;
    padding: 30px 0;
  }
  
  .sort {
    display: flex;
    align-self: flex-end;
  }
  
  .collection-sort {
    display: flex;
    flex-direction: column;
  }
  
  .collection-sort:first-child {
    padding-right: 20px;
  }
  