button{
    width: 80px;
    height: 20px;
}

img{
    width: 600px;
    height: 600px;
    background-color: beige;
    font-size: 40px;
}

.colorbg {
    width: 100%;
    height: 300px;
    background-color: grey;
}